#login{
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    width: fit-content;
    margin: auto;
    margin-top: 5%;
}
#login > form > input{
    display: block;
    margin: auto;
}

#login form input[type="password"], #login form input[type="email"]{
    padding: 0.5em;
    border: 1px solid darkgrey;
    border-radius: 5px;
    margin: 0.5em;
}

#login > form > label {
    color: white;
}

#register{
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    width: fit-content;
    margin: auto;
}

#register > form > input{
    display: block;
    margin: auto;
}

#register form input[type="password"], #register form input[type="email"]{
    padding: 0.5em;
    border: 1px solid darkgrey;
    border-radius: 5px;
    margin: 0.5em;
}

#register > form > label {
    color: white;
}

input[type="submit"]{
    cursor: pointer;
    background-color: aqua;
    color: black;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    margin-top: 1em;
}
button{
    cursor: pointer;
    background-color: aqua;
    color: black;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    margin-top: 1em;
}

button:hover{
    background-color: rgb(0, 129, 129);

}

input[type="submit"]:hover{
    background-color: rgb(0, 129, 129);
}

#header{
    text-align: center;
}



body{
    background-color: rgb(40, 44, 52);
    color: white;
}

.box{
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 1.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0;
    position: relative;
}

.box:hover{
    background-color: black;
    outline: 2px solid white;
    outline-offset: -2px;
}

.box:disabled{
    cursor: not-allowed;
    outline: none;
    outline-offset: none;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px #6e6e6e;
    z-index: 10;
}

#createPool:disabled{
    cursor: not-allowed;
    background-color: rgb(107, 113, 125);
}

.texInButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label[for="sirka"],label[for="vyska"] {
    margin-right: 10px;
}

input[type="number"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#createPool {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
#createPool:hover {
    background-color: #3e8e41;
}

#borderOfGamepool{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    border: 10px solid rgb(46, 46, 46);
    border-radius: 15px;
    z-index: 0;
}

table {
    border-collapse: collapse;
    width: 15%;
    border: 1px solid #ddd;
  }
  
  th,
  td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #4caf50;
    color: white;
  }