#login{
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    width: fit-content;
    margin: auto;
    margin-top: 5%;
}
#login > form > input{
    display: block;
    margin: auto;
}

#login form input[type="password"], #login form input[type="email"]{
    padding: 0.5em;
    border: 1px solid darkgrey;
    border-radius: 5px;
    margin: 0.5em;
}

#login > form > label {
    color: white;
}

#register{
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    width: fit-content;
    margin: auto;
}

#register > form > input{
    display: block;
    margin: auto;
}

#register form input[type="password"], #register form input[type="email"]{
    padding: 0.5em;
    border: 1px solid darkgrey;
    border-radius: 5px;
    margin: 0.5em;
}

#register > form > label {
    color: white;
}

input[type="submit"]{
    cursor: pointer;
    background-color: aqua;
    color: black;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    margin-top: 1em;
}
button{
    cursor: pointer;
    background-color: aqua;
    color: black;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    margin-top: 1em;
}

button:hover{
    background-color: rgb(0, 129, 129);

}

input[type="submit"]:hover{
    background-color: rgb(0, 129, 129);
}

#header{
    text-align: center;
}

input[type="number"]{
    display: block;
    background-color: rgb(40, 44, 52);
    color: white;
    border: none;
}

body{
    background-color: rgb(40, 44, 52);
    color: white;
}

.box{
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    margin: 0;
    box-shadow: 0 0 10px #616161;
    padding: 1px;
}

.box:hover{
    background-color: #2e2e2e;
}